venv/
__pycache__/
*.pyc
migrations/
__init__.py
*.json


academic_web/
test_file.py
papers/pdf/

db.sqlite3


papers1/
literature1/
media/

*.ipynb
he2.py
he_atom_vmc.png
nasa_ads.html
street_crossing.py
test.py
test.txt

secret_info.py